.checkbox {
  min-width: 2rem;
  padding-left: 0.5rem;
}

.index {
  min-width: 6.75rem;
  padding-left: 0.5rem;
}

.date {
  min-width: 11rem;
  padding-left: 0.5rem;
}

.status {
  min-width: 11rem;
  padding-left: 0.5rem;
}

.numberOfPositions {
  min-width: 6rem;
  padding-left: 0.5rem;
}

.sum {
  min-width: 8rem;
  padding-left: 0.5rem;
}

.name {
  width: 100%;
  padding-left: 0.5rem;
}
